@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, html, #root, .fullscreen-slide {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}














//
